@using  SpellToNumber.ViewModel
@model SpellNumberViewModel
@{
    ViewData["Title"] = "Convert number to word";
}


<div class="col-md-12">
    @using (Html.BeginForm("ConertNumber", "SpellToNumber", FormMethod.Post)) {
        <div class="form-group">

            @Html.LabelFor(m => m.Number)
            @Html.TextBoxFor(m => m.Number, new { placeholder = "Enter Number", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Number)

            @if (!string.IsNullOrEmpty(Model.Word)) {

                @Html.LabelFor(m => m.Word)
                <div class="row">
                    @Html.DisplayTextFor(m => m.Word)
                </div>
            }
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Convert To Words" />
        </div>
    }

</div>

